/* RandomComponent.css */

.Tag-Container {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 20px;
  color: white;
  font-weight: 400;
  text-align: center;
  font-size: 0.6rem;
  max-width: fit-content;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.Tag-Container:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 10px rgba(40, 30, 30, 0.15);
}

