.HomePage {
  display: flex;
  height: 100vh; /* full viewport height */
  padding-top: 80px; /* to account for fixed navbar */
  box-sizing: border-box;
  overflow-y: hidden;
}

.Event-Column {
  flex: 1;
  max-width: 300px;
}

.GroupChat-Column {
  flex: 1;
  max-width: 300px;
}

.Map {
  flex: 1 1 auto;
  align-items: stretch;
  justify-content: stretch;
  position: relative;
  z-index: 0; /* Behind other content */
}
