.create-event-btn {
  position: relative; /* or just delete position entirely */

  width: 56px;
  height: 56px;
  border-radius: 50%;

  display: flex;

  font-size: 32px;
  line-height: 1;
  background-color: #2e7dff;
  color: white;
  border: none;
  cursor: pointer;
}
