.create-event-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;

  width: 56px;
  height: 56px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 32px;
  line-height: 1;
  padding: 0;
  background-color: #2e7dff;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 3000;
}
