:root {
  --nav-h: 80px;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  background: white;
  overflow: hidden;
}
.app {
  position: relative;
  height: 100dvh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--nav-h);

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(100, 255, 218, 0.15);
}

.main {
  position: fixed;
  top: var(--nav-h);
  left: 0;
  right: 0;
  box-sizing: border-box;
  background: #0b0f14;
  color: white;
}
