.navbar {
  top: 0;
  left: 0;
  width: 100%; /* Span the entire viewport width */
  z-index: 1000;
  height: 80px;

  background: white; /* dark techy background */
  color: #fff;
  padding: 1rem 3rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(100, 255, 218, 0.15);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Logo / brand */
.navbar__logo h2 {
  margin: 0;
  font-family: 'Consolas', 'Courier New', monospace;
  font-family: 'Consolas', 'Courier New', monospace;
  color: #00eb08;
  letter-spacing: 1px;
  font-weight: 700;
  padding-bottom: 2px;
}

.navbar__logo a {
  text-decoration: none;
}

.navbar__links {
  display: flex;
  gap: 2.5rem;
  padding-top: 4px;
  padding-bottom: 0px;
}

.navbar__links a {
  text-decoration: none;
  color: #595959;
  font-weight: 500;
  font-size: 1rem;

  padding-bottom: 4px; /* reserve space */
  border-bottom: 2px solid transparent;

  transition: all 0.2s ease;
}

.navbar__link.active {
  border-bottom-color: #2563eb;
}

.navbar__links a:hover {
  color: #2563eb;
  transform: translateY(-2px);
}

/* Remove mobile hamburger completely */
.navbar__hamburger {
  display: none;
}

/* Navbar.css */
.navbar__link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding-bottom: 0px;
}

.navbar__link.active {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
}
