name: CI Testing

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - name: Clean install dependencies
        run: |
          npm install
          npm install --prefix frontend
        

      - name: Run lint
        run: npm run lint

      - name: Run tests
        run: npm run test

      - name: Build frontend
        run: npm run build
        working-directory: frontend